*{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  border-radius: 2px;
}
body{
  padding: 0;
  margin: 0;
  background-image: url("birth_of_venus.png");
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  padding: 5px;
  background-color: aliceblue;
  text-align: left;
  width: 100vw;
  font-size: 2em;
  opacity: 0.5;
  position: static;
}
span{
  font-size: .4em;
}
a{
  text-decoration: none;
  color: inherit;
}
.background{
  min-height: 100vh;
}
#userInput{
  display: block;
  margin-left: 38%;
  margin-top: 25%;
  height: 3vh;
  width: 25vw;
  border-radius: 4px;
  border-width: thin;
  border-color: white;
}
#button{
  margin-left: 48%;
  margin-top: 1%;
  border-radius: 4px;
  background-color: whitesmoke;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#button:hover{
  background-color: gainsboro;
}
.container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: 80vh;
  width: 80vw;
  border-style: solid;
  border-width: thin;
  border-color: darkgrey;
  background-color: ghostwhite;
}
.box{
  background-color: whitesmoke;
  border-style: groove;
  border-width: thin;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.box{
  width: 32%;
  height: 32%;
  margin: auto;
  display: flex;
  padding: 2px;
}
.box img {
    object-fit: scale-down;
    justify-content: center;
    flex-shrink: 1;
    min-width: 99%;
    min-height: 99%;
}
.results{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: 80vh;
  width: 80vw;
  border-style: solid;
  border-width: thin;
  border-color: darkgrey;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.selectedImage{
  width: 95%;
  height: 65%;
  background-color: white;
  margin-top: 2.5%;
  border-style: solid;
  border-width: thin;
  display: flex;
}
.selectedImage a{
  display: flex;
  object-fit: scale-down;
  justify-content: center;
  flex-shrink: 1;
  min-width: 99%;
  min-height: 99%;
}
a img{
  display: flex;
  object-fit: scale-down;
  justify-content: center;
  flex-shrink: 1;
  min-width: 99%;
  min-height: 99%;
}
.colorScheme{
  width: 95%;
  height: 25%;
  background-color: white;
  border-style: solid;
  border-width: thin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.result1{
}
.result2{
}
.result3{
}
.result4{
}
.result5{
}
.colorResult{
  width: 20%;
  height: 100%;
  border-radius: 0px;
}
.about{
  background-color: aliceblue;
  height: 75vh;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  opacity: .7;
  display: flex;
}
.words{
  margin: 5%;
  font-size: 1.25em;
  justify-content: center;
}
.words a{
  color: inherit;
  text-decoration: underline;
}
footer{
  background-color: aliceblue;
  position: fixed;
  bottom: 0;
  height: 2em;
  width: 100%;
  text-align: center;
  opacity: 0.5;
  line-height: 2em;
}
footer a{
  text-decoration: underline;
}
